* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */

body {
  font-family: sans-serif;
  color: #343a40;
  border-bottom: 8px solid #087f5b;
}

.container {
  width: 960px;
  margin: 0 auto;
}

header,
section {
  margin-bottom: 96px;
}

h2 {
  font-size: 36px;
  line-height: 1;
  margin-bottom: 48px;
}

.grid-3-cols {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 80px;
}

img {
  width: 100%;
  border-radius: 12px;
}

.btn:link,
.btn:visited {
  background-color: #087f5b;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 100px;
  font-weight: 500;
  border: none;
  display: inline-block;
}

.btn:hover,
.btn:active {
  background-color: #099268;
  color: #f1f3f5;
}

/* ------------------------ */
/* COMPONENT STYLES */
/* ------------------------ */

/* HEADER */
header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 80px;
  margin-top: 64px;
  align-items: center;
}

.header-text-box {
  align-self: center;
}

h1 {
  font-size: 44px;
  line-height: 1.1;
  letter-spacing: -1.3px;
  margin-bottom: 32px;
}

.header-text {
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 24px;
  letter-spacing: 1.2px;
}

.btn--big {
  padding: 16px 32px;
  font-size: 20px;
}

/* FEATURES */

.features-title {
  font-size: 20px;
  margin-bottom: 16px;
}

.features-text {
  font-size: 18px;
  line-height: 1.7;
  letter-spacing: 0.7px;
}

.features-icon {
  width: 30px;
  stroke-width: 2px;
  stroke: #087f5b;
  margin-bottom: 24px;
  font-weight: 900;
}

/* TESTIMONIAL */

.testimonial-section {
  background-color: #087f5b;
  color: #f8f9fa;
  padding: 24px;
  border-radius: 12px;
}

.testimonial-box {
  grid-column: 2 / -1;
  align-self: center;
}

.testimonial-box h2 {
  font-size: 24px;
  margin-bottom: 24px;
}

.testimonial-text {
  font-style: italic;
  font-size: 18px;
  line-height: 1.7;
  margin-bottom: 16px;
}

/* CHAIRS */

.chair {
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.07);
  border-radius: 12px;
}

.chair-box {
  padding: 32px;
}

.card-image {
  border-radius: 0;
  margin-bottom: 12px;
}

h3 {
  font-size: 20px;
  margin-bottom: 24px;
}

.chair-details {
  list-style: none;
  margin-bottom: 32px;
}

.chair-details li {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
}

.chair-details li:last-child {
  margin-bottom: 0;
}

.detail-icons {
  stroke: #087f5b;
  width: 24px;
  stroke-width: 2px;
}

.chair-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
}

.btn--small {
  padding: 8px 12px;
  font-size: 14px;
}

footer {
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.5px;
  margin-bottom: 48px;
}
